<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>PDFtoHTML</servlet-name>
        <servlet-class>PDFtoHTML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadXML</servlet-name>
        <servlet-class>ReadXML</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PDFtoHTML</servlet-name>
        <url-pattern>/PDFtoHTML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/HomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadXML</servlet-name>
        <url-pattern>/ReadXML</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    	<env-entry>
    	<env-entry-name>picturePublishDirectory</env-entry-name>
    	<env-entry-type>java.lang.String</env-entry-type>
    	<env-entry-value>C:\\blazeds\\tomcat\\webapps\\pictures\\</env-entry-value>
    </env-entry>
    <env-entry>
    	<env-entry-name>picturePublishURI</env-entry-name>
    	<env-entry-type>java.lang.String</env-entry-type>
    	<env-entry-value>localhost:8400/pictures/</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>pdfSavingDirectory</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>C:\\blazeds\\tomcat\\webapps\\ROOT\\resources\\pdf\\</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>blankpdfDirectory</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>D:\\BlankPdfForPdf2HTML\\blankpdf.pdf</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>swfToolInstallationDirectory</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <!--<env-entry-value>C:\\Program Files\\swftools\</env-entry-value> -->
        <env-entry-value>F:\\Installed Application\\swftools\</env-entry-value>
    </env-entry>
</web-app>
